{% extends 'main.html' %}

{% block content %}
{% load static %} 
<div>
    <h1>Home Template</h1>
    <div>
        <div>
            {% for vid in videos %}
                <div class="d-flex justify-content-center">
                    <div>
                        <h5>{{vid.id}} -- <a href='/footage/{{vid.id}}'>{{vid.ns}}</a></h5>
                        <video width="640" height="480" controls>
                            <source src={{vid.urlpath}} type="video/mp4"/></source> 
                        </video>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content%}